.counter {
  background-image: url("https://adamapp.co.uk/upload/articles/5bd031670db0c.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 70%;
  text-align: center;
}
.counter-overlay {
  padding-top: 120px;
  padding-bottom: 120px;
  background: rgba(0, 0, 0, 0.4);
}
.counter-item .fontAwesomeIcon {
  color: #129cf3;
  font-size: 60px;
}
.counter-item h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #d7dadb;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 1px;
}
.counter-item p {
  color: #d7dadb;
  font-size: 20px;
  margin-top: 0px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}
