.purchase-now {
  background-color: #1a1a1a;
  padding-top: 100px;
  padding-bottom: 100px;
}
.purchase-now p {
  color: #dfdfdf;
  font-size: 18px;
  font-weight: 300;
}
.btn-pruchase-now,
.btn-pruchase-now:active,
.btn-pruchase-now:focus,
.btn-pruchase-now:visited {
  background-color: #129cf3;
  border: 1px solid #129cf3;
  color: #fff;
  border-radius: 3px;
  padding: 15px 35px;
  text-transform: uppercase;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}

.btn-pruchase-now:hover {
  background-color: #1274b1;
  border-color: #316b90;
}
@media all and (max-width: 767px) {
  .purchase-now {
    text-align: center;
  }
  .btn-pruchase-now {
    margin-top: 15px;
  }
}
